
.game-2048 {
    margin: auto;
}

@media screen and (max-width: 575px) {
    .game-2048 {
        width: 100%;
    }
}
@media screen and (min-width: 576px) {
    .game-2048 {
        width: 60%;
    }
}
@media screen and (min-width: 768px) {
    .game-2048 {
        width: 50%;
    }
}
@media screen and (min-width: 992px) {
    .game-2048 {
        width: 40%;
    }
}
@media screen and (min-width: 1200px) {
    .game-2048 {
        width: 30%;
    }
}